<div class="general-container">
  <div [ngClass]="{'title-mobile': isMobile, 'title-desktop': !isMobile}">
    <h2>Elige la plantilla que mejor se adapte a tu estilo!</h2>
  </div>
  <div [ngClass]="{'filter-container-mobile': isMobile, 'filter-container-desktop': !isMobile}">
    <span class="filter-item">Filtro</span>
    <span class="filter-item">Filtro</span>
    <span class="filter-item">Filtro</span>
    <span class="filter-item">Filtro</span>
    <span class="filter-item">Filtro</span>
  </div>
  <div
  [ngClass]="{'templates-container-mobile': isMobile, 'templates-container-desktop': !isMobile}">
    <div
    *ngFor="let template of templates"
    class="template-card">
      <mat-card (click)="selectTemp(template.id)">
        <mat-card-header>
          <mat-card-title>
            {{ template.templateName }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>