/* Used in card:hover animation */
@keyframes fade-fall {
    from {
        transform: translateY(-15%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.general-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(-15%);
}
.general-container.animate {
    animation: fade-fall 1s ease-out forwards;
}
.title-container-desktop {
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.title-container-mobile {
    border-radius: 4px;
    padding: 0.5rem;
    margin: 2rem;
}
.title-content {
    width: auto;
    height: 100%;
    background-color: var(--white-variant);
    border-radius: 1rem;
    padding-top: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.2), 
        0px 1px 2px rgba(0, 0, 0, 0.12);
}
.title {
    font-family: var(--bricolage);
    text-align: center;
    font-weight: 900;
    color: var(--black);
    margin: 0;
}
.title span {
    font-size: 1.8rem;
    font-family: var(--bricolage);
    color: var(--white);
    background-color: var(--cobalt-blue);
    font-weight: 900;
    padding-top: .1rem;
    padding-bottom: .2rem;
    padding-left: .4rem;
    padding-right: .4rem;
    border-radius: 5px;
}
.title-desktop {
    font-size: 1.6rem;
    line-height: 1.5;
}
.title-mobile {
    font-size: 1.2rem;
    line-height: 1.5;
}
.title-desktop span {
    font-size: 1.8rem;
}
.title-mobile span {
    font-size: 1.4rem;
}
.templates-container-desktop, .templates-container-mobile {
    background-color: #dfdfdf;
    box-sizing: border-box;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.templates-container-desktop {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}
.templates-container-mobile {
    border-radius: 4px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.template-card {
    width: 100%;
    height: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.card {
    box-sizing: border-box;
    background-color: var(--white-variant);
    width: 250px;
    height: 400px;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    padding: 0.5rem;
    transition: transform 0.2s;
}
.card-header {
    margin-bottom: 0.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
}
.card-title {
    font-family: var(--bricolage);
    line-height: 1.5;
    font-size: 1rem;
    color: var(--black);
    font-weight: 700;
}
.card-content {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0;
    background-size: cover;
    background-position: center;
}
/* Overwrites Angular Material mat-card padding */
.card-content:last-child {
    padding-bottom: 0;
}
.template-is-selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-overlay);
    animation: fade-in 0.1s ease-in-out;
    opacity: 1;
}
.mat-mdc-unelevated-button:not(:disabled) {
    background-color: var(--cobalt-blue);
    color: var(--white);
}
.card:hover {
    transform: scale(1.01);
}
.miniature {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
}
.arrows-container {
    position: absolute;
    width: 85%;
    top: 85%;
    display: flex;
    justify-content: space-between;
}
.arrows-container button {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.0);
    background-color: var(--black);
    opacity: .5;
    transition: 0.1s ease;
}
.arrows-container button:hover {
    background-color: var(--cobalt-blue);
    opacity: .8;
}
.arrows-container button mat-icon {
    color: var(--white);
    font-size: 1rem;
    margin-top: .5rem;
}
.template-card:nth-child(1) .arrows-container button,
.template-card:nth-child(1) .arrows-container button:hover  {
    opacity: .1;
    background-color: var(--black);
}