<div class="general-container">
  <div [ngClass]="{'title-mobile': isMobile, 'title-desktop': !isMobile}">
    <h2>Elige la plantilla que mejor se adapte a tu estilo!</h2>
  </div>
  <div [ngClass]="{'filter-container-mobile': isMobile, 'filter-container-desktop': !isMobile}">
    <span class="filter-item">Filtro</span>
    <span class="filter-item">Filtro</span>
    <span class="filter-item">Filtro</span>
    <span class="filter-item">Filtro</span>
    <span class="filter-item">Filtro</span>
  </div>
  <div
  [ngClass]="{'templates-container-mobile': isMobile, 'templates-container-desktop': !isMobile}">
    <div
    *ngFor="let template of templates, let i = index"
    class="template-card">
      <mat-card class="card" (click)="selectTemp(template.id, i)">
        <mat-card-header class="card-header">
          <mat-card-title class="card-title">
            {{ template.templateName }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <div class="template-is-selected" *ngIf="i === selectedTemplateIndex">
            <button mat-flat-button routerLink="/editor">Usar esta plantilla</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>