<div #previewContainer class="preview-container">
    <div #preview class="preview">
        <ng-container #templateContainer></ng-container>
    </div>
    <div [ngClass]="{'side-container-mobile': isMobile, 'side-container-desktop':!isMobile}">
        <div [ngClass]="{'buttons-container-mobile': isMobile, 'buttons-container-desktop':!isMobile}">
            <button (click)="zoomIn()" mat-icon-button class="zoom-in">
                <mat-icon>zoom_in</mat-icon>
            </button>
            <button (click)="zoomOut()" mat-icon-button class="zoom-out">
                <mat-icon>zoom_out</mat-icon>
            </button>
            <button class="generate-button" mat-stroked-button (click)="export()">:D</button>
            <button mat-stroked-button (click)="selectTheme('theme01')">Theme 1</button>
            <button mat-stroked-button (click)="selectTheme('theme02')">Theme 2</button>
        </div>
    </div>
</div>