.preview-container {
    height: 100vh; /* By default, this element is smaller than vh */
    background-color: var(--light-gray);
}

.preview {
    width: calc(595.28pt * 0.5); /* A4 Format */
    height: calc(841.89pt * 0.5); /* A4 Format */
    background-color: rgb(239, 188, 100);
}

.buttons-container {
    display: flex;
    background-color: darkorchid;
}