
<mat-card *ngIf="workerPreview">
    <mat-card-header>
        <h3>Preview</h3>
    </mat-card-header>
    <mat-card-content>
        <span>{{workerPreview.name}}</span>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <span>{{workerPreview.lastname}}</span>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <span>{{workerPreview.jobPosition}}</span>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <span>{{workerPreview.aboutMe}}</span>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <span>{{workerPreview.academicBackground.title}}</span>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <span>{{workerPreview.academicBackground.school}}</span>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <span>{{workerPreview.academicBackground.date}}</span>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <span>{{workerPreview.academicBackground.description}}</span>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <span>{{workerPreview.workExperience.position}}</span>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <span>{{workerPreview.workExperience.company}}</span>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <span>{{workerPreview.workExperience.date}}</span>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <span>{{workerPreview.workExperience.description}}</span>
    </mat-card-content>
    <hr>
    <mat-card-content>
        <span>{{workerPreview.skills}}</span>
    </mat-card-content>
</mat-card>