<div class="general-container">
    <main-header></main-header>
    <main class="main">
        <div class="get-start">
            <div
            [ngClass]="{'welcome-mobile': isMobile, 'welcome-desktop': !isMobile}"
            class="welcome">
                <div class="welcome-message">
                    <h1 class="message_first-line">
                        Aplica
                    </h1>
                    <h1 class="message_second-line">
                        a tu <span class="message_job">empleo</span> soñado
                    </h1>
                    <h1 class="message_third-line">
                        con <br *ngIf="isMobile">
                        <span class="message_best-cv">
                            El Mejor CV
                        </span>
                    </h1>
                    <p class="message_paragraph">
                        Crea tu currículum profesional de forma <span class="bold">gratuita</span>  con nuestra aplicación online. Personaliza tu CV con plantillas elegantes, edítalo fácilmente y descárgalo en PDF en segundos. ¡Destaca en el mundo laboral con un diseño eficaz y atractivo!
                    </p>
                    <button
                    mat-raised-button
                    [routerLink]="['/template-mananger']">Comenzar!</button>
                </div>
            </div>
            <div
            [ngClass]="{'side-image_container-mobile': isMobile, 'side-image_container-desktop': !isMobile}"
            class="side-image_container">
                <div class="shape1"></div>
                <div class="shape2"></div>
                <div *ngIf="!isMobile" class="side-image_content">
                    <img
                    [src]="welcomeImages[welcomeCurrentIndex]"
                    [class]="welcomeAnimationState"
                    alt="Imágenes de bienvenida">
                </div>
            </div>
        </div>
        <mat-card
        [ngClass]="{'mat-card-mobile': isMobile, 'mat-card-desktop': !isMobile}"
        class="professionals-container mat-card">
            <div *ngIf="!isMobile" class="professionals-image">
                <img src="../../../assets/images/professionals_woman-headset.svg" alt="Empleada de llamadas telefónicas">
                <img src="../../../assets/images/professionals_man-construction.svg" alt="Obrero de la construcción">
                <img src="../../../assets/images/professionals_man-suit.svg" alt="Hombre de negocios">
                <img src="../../../assets/images/professionals_woman-chemistry.svg" alt="Mujer científica">
            </div>
            <div *ngIf="isMobile" class="professionals-image">
                <img [src]="professionalsImages[professionalsCurrentIndex]" [class]="professionalsAnimationState" alt="Profesionales">
            </div>
            <div class="professionals-text">
                <h3>Para <span>todo</span> tipo <br> de profesionales</h3>
                <p>
                    Ya sea que busques empleo en un área creativa, técnica, manual o de atención al público, aquí puedes crear un currículum efectivo para todo tipo de rubros!. <br>
                </p>
            </div>
        </mat-card>
        <mat-card
        [ngClass]="{'mat-card-mobile': isMobile, 'mat-card-desktop': !isMobile}"
        class="free-container mat-card">
            <div class="free-text">
                <h3>
                    Totalmente<br>
                    <span>gratis</span>
                </h3>
                <p>
                    Sin barreras de pago, sin transacciones. Sólo elige tu plantilla favorita, completa tus datos y descarga tu currículum completamente <span class="bold">gratis!</span>
                </p>
            </div>
            <div class="free-image">
                <img
                src="../../../assets/images/totally_free-1.svg"
                alt="Totalmente gratis">
                <img
                *ngIf="!isMobile"
                src="../../../assets/images/totally_free-2.svg"
                alt="Totalmente gratis">
                <img
                *ngIf="!isMobile"
                src="../../../assets/images/totally_free-3.svg"
                alt="Totalmente gratis">
            </div>
        </mat-card>
        <mat-card
        [ngClass]="{'mat-card-mobile': isMobile, 'mat-card-desktop': !isMobile}"
        class="templates-container mat-card">
            <div class="templates-image">
                <img src="../../../assets/images/templates_based.svg" alt="">
            </div>
            <div class="templates-text">
                <h3>
                    Basado en <br>
                    <span>plantillas</span>
                </h3>
                <p>
                    Deja de lado las complicaciones del diseño. <br> Haz brillar tu CV con plantillas originales, basadas en 5 estilos totalmente distintos que se adaptan a todos los gustos. Tu currículum lucirá impecable y sin ningún esfuerzo! 
                </p>
            </div>
            
        </mat-card>
        <!-- <mat-card
        [ngClass]="{'mat-card-mobile': isMobile, 'mat-card-desktop': !isMobile}" 
        class="steps">
            <h3>En tres simples pasos</h3>
        </mat-card> -->
    </main>
</div>