@import url('https://fonts.cdnfonts.com/css/mateo');

.bold {
    font-weight: 700;
    font-family: var(--bricolage);
}

/*************** ANIMATIONS ***************/
@keyframes slide-to-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-to-left-button {
    from {
        transform: translateX(-250%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-to-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes show-cards {
    from {
        scale: 50%;
        opacity: 0;
    }

    to {
        scale: 100%;
        opacity: 1;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* will-change indicates which css properties are to be modified */
.slide-to-left-title, .slide-to-left-paragraph, .slide-to-left-button {
    will-change: transform, opacity;
}

.slide-to-left-title,
.slide-to-left-paragraph {
    transform: translateX(-100%);
    opacity: 0;
}

.slide-to-left-button {
    transform: translateX(-250%);
    opacity: 0;
}

.slide-to-left-title.animate {
    animation: slide-to-left 1s ease-out forwards;
}

.slide-to-left-paragraph.animate {
    animation: slide-to-left 1s ease-out forwards;
    animation-delay: .5s;
}

.slide-to-left-button.animate {
    animation: slide-to-left-button 1s ease-out forwards;
    animation-delay: 1s;
}

.side-image_container-desktop {
    transform: translateX(100%);
    opacity: 0;
}

.side-image_container-desktop.slide-to-right {
    animation: slide-to-right 1s ease-out forwards;
}

.side-image_content {
    transform: translateX(100%);
    opacity: 0;
}

.side-image_content.animate {
    animation: slide-to-right 1s ease-out forwards;
    animation-delay: 2s;
}

.in {
    transform: translateX(0);
    opacity: 1;
}

.out {
    transform: translateX(40rem);
    opacity: 0;
}

/*************** GENERAL CLASSES ***************/
.general-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: auto;
    background-color: var(--white-variant);
}

.get-start {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
    overflow-x: hidden;
}

.welcome {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-message {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message_first-line,
.message_second-line,
.message_third-line {
    color: var(--black);
    font-family: var(--bricolage);
}

.message_first-line {
    color: var(--cobalt-blue);
}

.message_best-cv {
    --a: -45deg;
    --t: .23em;
    --_s: calc(var(--t) * cos(var(--a)));
    background:
        linear-gradient(var(--a),
            #0000 var(--_s),
            currentColor 0 calc(100% - var(--_s)),
            #0000 0) bottom/var(--i, 90%) var(--t) no-repeat;
    padding: 0 .25em calc(var(--t) + .1em);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    transition: .3s;
    color: var(--jasmine-yellow);
    font-weight: 900;
    text-shadow: none;
}

.message_best-cv:hover {
    --i: 100%;
}

.message_paragraph {
    font-weight: 300;
}

/* Angular Material class for mat-button */
.start-button.mat-mdc-raised-button:not(:disabled) {
    background-color: var(--poppy-red);
    color: var(--light-jasmine-yellow);
    font-family: var(--bricolage);
    font-size: 1.1rem;
    font-weight: 900;
    width: 10rem;
    height: 3rem;
    margin-top: 1rem;
    transition: 0.3s ease;
}

.start-button.mat-mdc-raised-button:not(:disabled):hover {
    color: var(--white);
}

.side-image_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--white-variant);
}

.welcome-shape1 {
    position: absolute;
    background-color: var(--light-poppy-red);
}

.welcome-shape2 {
    position: absolute;
    background-color: var(--light-cobalt-blue);
}

.side-image_content {
    position: relative;
    width: 35rem;
    height: 35rem;
    overflow: hidden;
}

.side-image_container img {
    position: absolute;
    width: auto;
    height: 100%;
    object-fit: cover;
    transition: 1s ease-in-out;
}

.mat-card {
    view-timeline: --card;
    view-timeline-axis: block;
    animation-timeline: --card;
    animation-name: show-cards;
    animation-range: entry 30% cover 50%;
    animation-fill-mode: both;
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.2),
        0px 1px 2px rgba(0, 0, 0, 0.12);
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.professionals-container {
    background-color: var(--light-poppy-red);
    color: var(--black);
}

.professionals-image {
    grid-column: 1 / 4;
    width: 75%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
}

.professionals-image img {
    border-radius: 1rem;
}

.professionals-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.professionals-text h3 {
    font-weight: 600;

    span {
        color: var(--poppy-red);
        font-family: var(--bricolage);
        font-weight: 900;
    }
}

.professionals-text p {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.4;
}

.free-container {
    background-color: var(--light-cobalt-blue);
}

.free-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.free-text h3 {
    text-align: start;
    color: var(--black);
    font-weight: 600;

    span {
        color: var(--cobalt-blue);
        font-family: var(--bricolage);
        font-weight: 900;
        text-transform: uppercase;
        border-radius: 1rem;
    }
}

.free-text p {
    color: var(--black);
    text-align: start;
    font-weight: 300;
}

.free-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.free-image img {
    position: absolute;
    box-sizing: border-box;
    border-radius: 1rem;
}

.templates-container {
    background-color: var(--black);
    color: var(--white);
}

.templates-image img {
    border-radius: 1rem;
}

.templates-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.templates-text h3 {
    color: var(--white);
    font-weight: 600;

    span {
        color: var(--jasmine-yellow);
        font-family: var(--bricolage);
        font-weight: 900;
    }
}

.templates-text p {
    font-weight: 300;
}

.final-message-container {
    position: relative;
    width: 100%;
    height: 90vh;
    align-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.final-shape1,
.final-shape2,
.final-shape3 {
    position: absolute;
    clip-path: circle(50% at 50% 50%);
    z-index: 1;
    animation: floating 3s ease-in-out infinite;
}

.final-shape1 {
    background-color: var(--light-cobalt-blue);
    animation-delay: .5s;
}

.final-shape2 {
    background-color: var(--light-poppy-red);
    animation-delay: 1s;
}

.final-shape3 {
    background-color: var(--jasmine-yellow);
}

.final-message-title {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.final-message-title h3 {
    font-family: var(--bricolage);
    color: var(--black);
    font-weight: 900;
    text-align: center;
    z-index: 2;
}

.final-message-title h3:nth-child(2) {
    color: var(--cobalt-blue);
}

.final-message-button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final-message-button span {
    font-family: var(--bricolage);
    color: var(--black);
    font-weight: 900;
    z-index: 2;
}

/* Angular Material class for mat-button */
.final-button.mat-mdc-raised-button:not(:disabled) {
    background-color: var(--jasmine-yellow);
    font-family: var(--bricolage);
    font-weight: 900;
    color: var(--black);
    transition: 0.3s ease;
    z-index: 2;
}

.waves {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transform: translateY(1rem);
}

.footer {
    bottom: 0;
    width: 100%;
    height: 90vh;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-title {
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.footer-title .title  {
    font-family: var(--bricolage);
    color: var(--white);
    font-size: 2rem;
    font-weight: 100;
}

.footer-title .my-name {
    font-family: 'Mateo', sans-serif;
    font-size: 8rem;
    color: var(--white);
    margin-top: 1rem;
}


.footer-title .web-developer {
    font-family: var(--bricolage);
    color: var(--white-variant);
    font-size: 1.5rem;
    font-weight: 100;
}

.footer-content {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4rem;
}

.donate, .follow-me, .source-code {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--bricolage);
    font-weight: 100;
    color: var(--white);
}

.svg-icon {
    color: var(--white);
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.coffee-span {
    color: var(--light-cobalt-blue);
    font-weight: 500;
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-container a {
    color: var(--white);
    text-decoration: none;
    font-weight: 900;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.social-container a:first-child {
    margin-top: 2rem;
}

.social-span {
    color: var(--light-poppy-red);
    font-size: 1.2rem;
    font-weight: 500;
}

.source-code a {
    color: var(--white);
    text-decoration: none;
    font-weight: 900;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.github-span {
    color: var(--jasmine-yellow);
    
    font-weight: 500;
}

.scroll-top-button {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 1rem;
    background-color: var(--cobalt-blue);
    color: white;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.1s ease-in-out;
    opacity: 0.5;
}

.scroll-top-button:hover {
    scale: 1.05;
    opacity: 1;
}


/* ************** RESPONSIVE CLASSES ************** */

.welcome-desktop {
    grid-column: 1 / 7;
}

.welcome-mobile {
    grid-column: 1 / 13;
    position: relative;
    z-index: 2;
}

.welcome-desktop .welcome-message {
    width: 80%;
    margin-top: 10%;
    margin-left: 50%;
    margin-right: 30%;
    padding: 1rem;
}

.welcome-mobile .welcome-message {
    width: 100%;
    padding: 2rem;
}

.welcome-desktop .message_first-line,
.welcome-desktop .message_second-line,
.welcome-desktop .message_third-line {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: .9;
}

.welcome-mobile .message_first-line,
.welcome-mobile .message_second-line,
.welcome-mobile .message_third-line {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.1;
    margin: 0;
}

.welcome-desktop .message_best-cv {
    font-size: 3.5rem;
}

.welcome-mobile .message_best-cv {
    font-size: 2.6rem;
    position: absolute;
    left: calc(-5% + 2vw);
}

.welcome-desktop .message_paragraph {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 2.5rem;
}

.welcome-mobile .message_paragraph {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 5rem;
}

.side-image_container-desktop {
    position: relative;
    grid-column: 7 / 13;
}

.side-image_container-mobile {
    position: absolute;
    top: 0;
    left: 0;
    grid-column: 1 / 13;
    z-index: 1;
}

.side-image_container-desktop .welcome-shape1 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    clip-path: polygon(100% 100%, 100% 0, 0 0);
}

.side-image_container-desktop .welcome-shape2 {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
}

.side-image_container-mobile .welcome-shape1 {
    width: 100%;
    height: 20%;
    bottom: 0;
    right: 0;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.side-image_container-mobile .welcome-shape2 {
    width: 100%;
    height: 20%;
    top: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.mat-card-desktop {
    width: 90vw;
    height: 90vh;
}

.mat-card-mobile {
    width: 95vw;
    height: auto;
    position: relative;
    overflow: hidden;
}

/* professionals */
.mat-card-desktop .professionals-image {
    width: 75%;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 15%;
    padding: 1rem;
}

.mat-card-mobile .professionals-image {
    grid-column: 1 / 6;
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.mat-card-desktop .professionals-text {
    grid-column: 4 / 6;
    padding-right: 20%;
}

.mat-card-mobile .professionals-text {
    grid-column: 1 / 6;
    margin-bottom: 15rem;
}

.mat-card-desktop .professionals-text h3 {
    text-align: end;
    line-height: 1.2;
    font-size: 3rem;

    span {
        font-size: 4rem;
    }
}

.mat-card-desktop .professionals-text p {
    text-align: end;
    margin-top: 1rem;
}

.mat-card-mobile .professionals-text h3 {
    text-align: start;
    line-height: 1;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;

    span {
        font-size: 3rem;
    }
}

.mat-card-mobile .professionals-text p {
    text-align: start;
    font-size: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.mat-card-desktop img {
    width: 100%;
}

.mat-card-mobile img {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem);
    object-fit: cover;
    transition: 1s ease-in-out;
}

/* totally free */
.mat-card-desktop .free-text {
    grid-column: 1 / 4;
    height: 100%;
    padding-left: 30%;
}

.mat-card-mobile .free-text {
    grid-column: 1 / 6;
    height: auto;
}

.mat-card-desktop .free-text h3 {
    font-size: 3rem;
    line-height: 1;

    span {
        font-size: 4rem;
    }
}

.mat-card-mobile .free-text h3 {
    font-size: 2rem;
    line-height: 1;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 3rem;

    span {
        font-size: 3rem;
    }
}

.mat-card-desktop .free-text p {
    width: 85%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-top: 1rem;
}

.mat-card-mobile .free-text p {
    width: 90%;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.mat-card-desktop .free-image {
    grid-column: 4 / 6;
    position: relative;
    width: 100%;
    height: 100%;
}

.mat-card-mobile .free-image {
    grid-column: 1 / 6;
    width: 100%;
    height: 2rem;
}

.mat-card-desktop .free-image img {
    width: 15rem;
    height: 15rem;
}

.mat-card-mobile .free-image img {
    width: 9rem;
    height: 9rem;
}

.mat-card-desktop .free-image img:nth-child(1) {
    right: 35%;
}

.mat-card-desktop .free-image img:nth-child(2) {
    top: 15%;
    left: -15%;
}

.mat-card-desktop .free-image img:nth-child(3) {
    bottom: 15%;
    left: -15%;
}

.mat-card-mobile .free-image img:nth-child(1) {
    top: 2%;
    right: 2%;
}

/* templates based */
.mat-card-mobile.templates-container {
    display: flex;
    flex-direction: column;
}

.mat-card-desktop .templates-image {
    grid-column: 1 / 4;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 5%;
}

.mat-card-mobile .templates-image {
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
}

.mat-card-desktop .templates-image img {
    width: 100%;
    height: auto;
}

.mat-card-mobile .templates-image img {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.mat-card-desktop .templates-text {
    grid-column: 4 / 6;
    height: 100%;
    align-items: flex-end;
    padding-right: 20%;
}

.mat-card-mobile .templates-text {
    width: 100%;
    margin-top: 1.5rem;
    align-items: center;
    order: 1;
}

.mat-card-desktop .templates-text h3 {
    text-align: end;
    line-height: 1.2;
    font-size: 3rem;

    span {
        font-size: 4rem;
    }
}

.mat-card-mobile .templates-text h3 {
    text-align: center;
    line-height: 1.1;
    font-size: 2rem;

    span {
        font-size: 3rem;
    }
}

.mat-card-desktop .templates-text p {
    text-align: end;
    font-size: 1.1rem;
    line-height: 1.4;
    margin-top: 1rem;
}

.mat-card-mobile .templates-text p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.final-message-desktop .final-shape1 {
    top: 10%;
    left: 5%;
    width: 30rem;
    height: 30rem;
}

.final-message-mobile .final-shape1 {
    bottom: 0;
    left: 15%;
    width: 15rem;
    height: 15rem;
}

.final-message-desktop .final-shape2 {
    top: 60%;
    right: 15%;
    width: 18rem;
    height: 18rem;
}

.final-message-mobile .final-shape2 {
    top: 5%;
    right: 5%;
    width: 13rem;
    height: 13rem;
}

.final-message-desktop .final-shape3 {
    top: 5%;
    right: 15%;
    width: 10rem;
    height: 10rem;
}

.final-message-mobile .final-shape3 {
    top: 40%;
    left: 5%;
    width: 8rem;
    height: 8rem;
}

.final-message-desktop .final-message-title h3 {
    padding-left: 15%;
    padding-right: 15%;
    line-height: .8;
}

.final-message-mobile .final-message-title h3 {
    padding-left: 0;
    padding-right: 0;
    line-height: 1;
}

.final-message-desktop .final-message-title h3:nth-child(1) {
    font-size: 2.5rem;
}

.final-message-desktop .final-message-title h3:nth-child(2) {
    font-size: 3.5rem;
}

.final-message-mobile .final-message-title h3:nth-child(1) {
    font-size: 1.5rem;
}

.final-message-mobile .final-message-title h3:nth-child(2) {
    font-size: 2.5rem;
}

.final-message-desktop .final-message-button {
    width: 15rem;
    height: 10rem;
    margin-top: 1rem;
}

.final-message-mobile .final-message-button {
    width: 15rem;
    height: 10rem;
    margin-top: 0;
}

.final-message-desktop .final-message-button span {
    font-size: 2rem;
}

.final-message-mobile .final-message-button span {
    font-size: 1.5rem;
}

.final-message-desktop .final-button.mat-mdc-raised-button:not(:disabled) {
    width: 90%;
    height: 4rem;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.final-message-mobile .final-button.mat-mdc-raised-button:not(:disabled) {
    width: 60%;
    height: 3rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.footer-title-desktop {
    margin-bottom: 6rem;
}

.footer-title-mobile {
    margin-bottom: 2rem;
}   

.footer-title-desktop .title {
    font-size: 2rem;
    line-height: 1.2;
}

.footer-title-mobile .title {
    font-size: 1rem;
    line-height: 1.1;
    
}

.footer-title-desktop .my-name {
    font-size: 8rem;
    line-height: 1.2;
}

.footer-title-mobile .my-name {
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

.footer-title-desktop .web-developer {
    font-size: 1.5rem;
}

.footer-title-mobile .web-developer {
    font-size: .7rem;
}

.footer-content-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4rem;
}

.footer-content-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.footer-content-desktop .donate,
.footer-content-desktop .follow-me,
.footer-content-desktop .source-code {
    grid-column: auto;
    font-size: 1rem;
}
.footer-content-mobile .donate,
.footer-content-mobile .follow-me,
.footer-content-mobile .source-code {
    grid-column: auto;
    font-size: .8rem;
    line-height: .4;
}

.footer-content-desktop .coffee-span {
    font-size: 1.2rem;
}

.footer-content-mobile .coffee-span {
    font-size: .9rem;
}

.footer-content-desktop .coffee-container {
    margin-top: 2rem;
}

.footer-content-mobile .coffee-container {
    margin-top: 1rem;
}

.footer-content-mobile .follow-me {
    margin-top: 4rem;
}

.footer-content-desktop .social-span {
    font-size: 1.2rem;
}

.footer-content-mobile .social-span {
    font-size: .9rem;
}

.footer-content-desktop .social-container a:first-child {
    margin-top: 2rem;
}

.footer-content-mobile .social-container a:first-child {
    margin-top: 1rem;
}

.footer-content-mobile .source-code {
    margin-top: 4rem;
}

.footer-content-desktop .source-code a {
    margin-top: 2rem;
}

.footer-content-mobile .source-code a {
    margin-top: 1rem;
}

.footer-content-desktop .github-span {
    font-size: 1.2rem;
}

.footer-content-mobile .github-span {
    font-size: .9rem;
}