/* AUXILIARY CLASSES */
.font-size-large {
    font-size: 10pt;
}
.font-size-medium {
    font-size: 6pt;
}
.font-size-small {
    font-size: 4pt;
}
.bold {
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
.border {
    border: 1px solid black;
}
.bx {
    box-sizing: border-box;
}
.d-inline-blc {
    display: inline-block;
    /* text-align: center; */
    line-height: 1;
}
.less-line-height {
    line-height: 0.5 !important; /* override .d-inline-blc class  */
}
.top-fill {
    width: 100%;
    height: 66pt; /* arbitrary value to fill the top of the page */
}
.paragraph {
    display: inline-block;
    line-height: 6pt;
}
.section-title {
    width: 100%;
    margin-bottom: 3pt;
    line-height: 1;
    padding-bottom: 1pt;
    border-bottom: 1.5pt solid black;
}
.row {
    height: auto;
    width: 100%;
    display: flex;
    margin-bottom: 1pt;
    justify-content: space-between;
}
.list-description {
    margin: 5pt;
}
.bottom-fill {
    box-sizing: border-box;
    width: 100%;
    height: 16pt;
}

/* SPECIFIC CLASSES */
.cv-container {
    /* A4 format, reduced by the expression * 0.5 to scale the element into the view */
    width: calc(595.28pt * 0.5);
    height: calc(841.89pt * 0.5);
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.cv-content {
    width: 100%;
    height: calc(841.89pt * 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.name-lastname-container {
    position: absolute;
    top: 14pt;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.name-lastname-frame {
    margin-left: 70pt;
    margin-right: 70pt;
    height: 45pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1pt solid black;
}

.name-lastname, .job-position {
    margin: 2pt;
}

.left-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 20pt;
    padding-right: 5pt;
    grid-column: 1 / 2;
    background-color: #efefef;
}

.details_content {
    display: flex;
    flex-direction: column;
}

.detail_item-title, .detail_item {
    display: inline-block;
    text-align: start;
    line-height: 1;
    margin-bottom: 1pt;
}

.detail_item {
    margin-top: 1pt;
    margin-bottom: 6pt;
}

.right-container {
    height: 100%;
    box-sizing: border-box;
    padding-right: 20pt;
    padding-left: 5pt;
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
}

.work-exp_content {
    display: flex;
    flex-direction: column;
}

.title-institution {
    display: flex;
    justify-content: space-between;
    margin-top: 4pt;
    margin-bottom: 4pt;
}

.skills_content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.skill-level-container {
    margin-bottom: 6pt;
}

.links_title {
    width: 100%;
    text-align: end;
    margin-top: 4pt;
}

.links_list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.links_container {
    margin-bottom: 1pt;
}

.overflow-line {
    position: absolute;
    left: 0;
    bottom: 11pt;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba(255, 0, 0, 0.7);
    box-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
}