.editor-container {
    display: flex;
}
.form {
    width: 50%;
    height: auto;
    /* border: 2px solid rgb(70, 70, 70); */
    margin: 1%
}

.preview {
    width: 50%;
    max-height: 90vh;
    /* border: 2px solid rgb(70, 70, 70); */
    background-color: rgb(230, 230, 230);
    margin: 1%
}