.editor-container {
    display: flex;
}

.selector-form-container {
    display: flex;
    flex-direction: column;
}

.form {
    width: 50%;
    height: auto;
    margin: 1%
}

.preview {
    position: fixed;
    top: 3%;
    left: calc(50%);
    width: calc(50% - 2%);
    height: 90vh;
    background-color: rgb(230, 230, 230);
    margin: 1%;
    overflow: auto;
}