<div class="cv-container" #cvContent>
  <div class="cv-content">

    <!-- Personal Info -->
    <div class="name-lastname font-size-XL bold">
      {{ cvPreview.personalInfo.name }}
      {{ cvPreview.personalInfo.lastname }}
    </div>
    <div class="job-position font-size-small bold">
      {{ cvPreview.personalInfo.jobPosition }}
    </div>
    <div class="city-state-country font-size-small">
      {{ cvPreview.personalInfo.city }}, {{ cvPreview.personalInfo.stateProvince }}, {{ cvPreview.personalInfo.country }}
    </div>
    <div class="email-phone-container font-size-small">
      <div class="phone bold">
        {{ cvPreview.personalInfo.phone }}
      </div>
      <div class="email bold">
        {{ cvPreview.personalInfo.email }}
      </div>
    </div>
    
    <hr>

    <!-- Description -->
    <div class="description_container" *ngIf="cvPreview.description.description.length >= 1">
      <div class="description_title font-size-medium bold">
        <span>Perfil</span>
      </div>
      <div
      class="description_content paragraph font-size-small"
      [innerHTML]="cvPreview.description.description">
      </div>
    </div>
    
    <hr>

    <!-- Work Experience -->
    <div class="work-exp_title font-size-medium bold">
      <span>Experiencia Laboral</span>
    </div>
    <div class="work-exp_container" *ngFor="let exp of cvPreview.workExperience">
      <div class="work-exp_content">
        <div class="work-exp_row">
          <div class="work-exp_left-container">
            <div class="work-exp_position bold">
              <strong>• </strong>{{ exp.position }}
            </div>
            <div class="work-exp_organization bold">, {{ exp.organization }} </div>
          </div>
          <div class="work-exp_dots-container">
            <div class="work-exp_dots"></div>
          </div>

          <div class="work-exp_right-container">
            <div class="work-exp_initM-initY-endM-endY font-size-small">
              {{ exp.wExpInitMonth }}
              {{ exp.wExpInitYear }}
              --
              {{ exp.wExpEndMonth }}
              {{ exp.wExpEndYear }}
            </div>
            <div class="work-exp_location font-size-small">
              {{ exp.location }}
            </div>
          </div>
        </div>
        <div
        class="work-exp_description paragraph font-size-small"
        [innerHTML]="exp.description"></div>
      </div>
    </div>

    <!-- Education -->
    <div class="ed_title font-size-medium bold">
      <span>Educación</span>
    </div>
    <div class="ed_container" *ngFor="let ed of cvPreview.education">
      <div class="ed_content">
        <div class="ed_row">
          <div class="ed_left-container">
            <div class="ed_grade bold">
              <strong>• </strong>{{ed.grade}}
            </div>
            <div class="ed_school font-size-small">{{ed.school}}</div>
          </div>
          <div class="ed_dots-container">
            <div class="ed_dots"></div>
          </div>
          <div class="ed_right-container">
            <div class="ed_initM-initY-endM-endY font-size-small">
                {{ ed.edInitMonth }}
                {{ ed.edInitYear }}
                --
                {{ ed.edEndMonth }}
                {{ ed.edEndYear }}
            </div>
          </div>
        </div>
        <div
        class="ed_description paragraph font-size-small"
        [innerHTML]="ed.description">
        </div>
      </div>  
    </div>

    <!-- Skills -->
    <div class="skills_title font-size-medium bold">
      <span>Habilidades</span>
    </div>
    <div class="skills_container">
        <div class="skill-level-container" *ngFor="let skill of cvPreview.skills">
          <div class="skill font-size-small">
            {{ skill.skill }}
          </div>
          <div class="skills_dots-container">
            <div class="skills_dots"></div>
          </div>
          <div class="level font-size-small bold">
            {{ skill.level }}
          </div>
        </div>
    </div>
  </div>
</div>