.general-container {
    background-color: slateblue;
}

mat-toolbar {
    /* This style ensures that the toolbar does not cause overflow in the rest of the content. */
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 2;
}

mat-sidenav-container {
    background-color: rgb(95, 130, 160);
}

mat-sidenav-content {
    height: 100vh;
}

mat-nav-list {
    padding-top: 35%;
}

.dynamic-container {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons-container {
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 50%;
    margin: 1%;
}