<div class="general-container">
    <mat-toolbar [ngClass]="{'toolbar-mobile': isMobile, 'toolbar-desktop': !isMobile}">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <button mat-flat-button (click)="export()">Export</button> -->
        <div class="notifier-container">
            <form-notifier></form-notifier>
        </div>
        <div class="buttons-container">
            <button mat-flat-button (click)="alternateViews()">
                Preview
            </button>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="over" opened="false" class="sidenav">
            <mat-nav-list [ngClass]="{'nav-list-mobile': isMobile, 'nav-list-desktop': !isMobile}">
                <mat-list-item
                class="list-item"
                (click)="changeSelectedCard('pinfo')" [ngClass]="{'selected': selectedCard === 'pinfo'}">
                    <span [ngClass]="{'text-selected': selectedCard === 'pinfo'}">
                        Información Personal
                    </span>
                </mat-list-item>
                <mat-list-item
                class="list-item"
                (click)="changeSelectedCard('desc')" [ngClass]="{'selected': selectedCard === 'desc'}">
                    <span [ngClass]="{'text-selected': selectedCard === 'desc'}">
                        Resúmen Profesional
                    </span>
                </mat-list-item>
                <mat-list-item
                class="list-item"
                (click)="changeSelectedCard('workexp')" [ngClass]="{'selected': selectedCard === 'workexp'}">
                    <span [ngClass]="{'text-selected': selectedCard === 'workexp'}">
                        Experiencia Laboral
                    </span>
                </mat-list-item>
                <mat-list-item
                class="list-item"
                (click)="changeSelectedCard('ed')" [ngClass]="{'selected': selectedCard === 'ed'}">
                    <span [ngClass]="{'text-selected': selectedCard === 'ed'}">
                        Educación
                    </span>
                </mat-list-item>
                <mat-list-item
                class="list-item"
                (click)="changeSelectedCard('cert')" [ngClass]="{'selected': selectedCard === 'cert'}">
                    <span [ngClass]="{'text-selected': selectedCard === 'cert'}">
                        Certificaciones
                    </span>
                </mat-list-item>
                <mat-list-item
                class="list-item"
                (click)="changeSelectedCard('skills')" [ngClass]="{'selected': selectedCard === 'skills'}">
                    <span [ngClass]="{'text-selected': selectedCard === 'skills'}">
                        Habilidades
                    </span>
                </mat-list-item>
                <mat-list-item
                class="list-item"
                (click)="changeSelectedCard('lang')" [ngClass]="{'selected': selectedCard === 'lang'}">
                    <span [ngClass]="{'text-selected': selectedCard === 'lang'}">
                        Idiomas
                    </span>
                </mat-list-item>
                <mat-list-item
                class="list-item"
                (click)="changeSelectedCard('ref')" [ngClass]="{'selected': selectedCard === 'ref'}">
                    <span [ngClass]="{'text-selected': selectedCard === 'ref'}">
                        Referencias
                    </span>
                </mat-list-item>
                <mat-list-item
                class="list-item"
                (click)="changeSelectedCard('links')" [ngClass]="{'selected': selectedCard === 'links'}">
                    <span [ngClass]="{'text-selected': selectedCard === 'links'}">
                        Links
                    </span>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
            <div *ngIf="!isMobile" class="desktop-container">
                <!-- The formComponent has an @Input variable that can store the selectedCard from the sidenav -->
                <app-form [selectedCard]="selectedCard"></app-form>
                <app-preview></app-preview>
            </div>
            <!-- In this case, the selectedCard value is sent during the construction of the formComponent -->
            <ng-container #dynamicView></ng-container>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>