@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.general-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    animation: fade-in .5s ease-out forwards;
    opacity: 0;
}
.toolbar-desktop, .toolbar-mobile {
    height: 3em;
    background-color: var(--white);
    .toolbar-button {
        color: var(--cobalt-blue);
    }
    .preview-button {
        background-color: var(--cobalt-blue);
        color: var(--white);
    }
}
.toolbar-desktop {
    width: 50%; /* This style ensures that the toolbar does not cause overflow in the rest of the content. */
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 2;
}
.logo-container {
    text-decoration: none;
    display: flex;
    width: auto;
    height: 2rem;
    margin-right: .5rem;
    img {
        width: 2rem;
        height: 100%;
    }
}
h1 {
    color: var(--black);
    font-size: 1.1rem;
    font-family: var(--bricolage);
    font-weight: 900;
    margin-left: .5rem;
    span {
        color: var(--jasmine-yellow);
    }
}
.toolbar-mobile {
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 2;
}
.sidenav-container {
    width: 100%;
    height: 100%;
}
.sidenav {
    height: 100%;   
    background-color: var(--cobalt-blue);
}
.nav-list {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 4.5em;
}
.mdc-list-item {
    padding: 0;
}
.list-item:hover span,
.list-item:hover .item-icon{
    color: var(--white);
}
.back-item {
    margin-top: auto;
}
.list-item-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}
.list-item span {
    color: var(--light-cobalt-blue);
    font-weight: 500;
    line-height: 2;
}

.item-icon {
    color: var(--light-cobalt-blue);
    margin-right: 1rem;
}
.sidenav-content {
    width: 100%;
    height: 100%;
    background-color: var(--black-overlay);
}
.desktop-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
.buttons-container, .notifier-container {
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
}
.preview {
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
    animation-delay: .5s;
}