.general-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.toolbar-desktop, .toolbar-mobile {
    height: 3em;
    background-color: var(--cornflower-blue);
    
    .toolbar-button {
        color: var(--white);
    }
}

.toolbar-desktop {
    width: 50%; /* This style ensures that the toolbar does not cause overflow in the rest of the content. */
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 2;
    
    .preview-button {
        visibility: hidden;
    }
}

.toolbar-mobile {
    /* width: 100%; */ /* This style ensures that the toolbar does not cause overflow in the rest of the content. */
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 2;
}

.sidenav-container {
    width: 100%;
    height: 100%;
}

.sidenav {
    height: 100%;   
    background-color: var(--cornflower-blue);
}

.nav-list {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 4.5em;
}

.mdc-list-item {
    padding: 0;
}

.list-item:hover {
    background-color: var(--brandeis-blue);
}

.list-item-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.list-item span {
    color: var(--white);
    font-weight: 500;
    line-height: 2;
}


.item-icon {
    color: var(--white);
    margin-right: 1rem;
}

.sidenav-content {
    width: 100%;
    height: 100%;
}

.desktop-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.buttons-container, .notifier-container {
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
}