<div class="general-container">
    <mat-toolbar [ngClass]="{'toolbar-mobile': isMobile, 'toolbar-desktop': !isMobile}">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <button mat-flat-button (click)="export()">Export</button> -->
        <div class="notifier-container">
            <form-notifier></form-notifier>
        </div>
        <div class="buttons-container">
            <button mat-flat-button (click)="alternateViews()">
                Preview
            </button>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="over" opened="false" class="sidenav">
            <mat-nav-list [ngClass]="{'nav-list-mobile': isMobile, 'nav-list-desktop': !isMobile}">
                <mat-list-item (click)="changeSelectedCard('pinfo')">
                    Información Personal
                </mat-list-item>
                <mat-list-item (click)="changeSelectedCard('desc')">
                    Resúmen Profesional
                </mat-list-item>
                <mat-list-item (click)="changeSelectedCard('workexp')">
                    Experiencia Laboral
                </mat-list-item>
                <mat-list-item (click)="changeSelectedCard('ed')">
                    Educación
                </mat-list-item>
                <mat-list-item (click)="changeSelectedCard('cert')">
                    Certificaciones
                </mat-list-item>
                <mat-list-item (click)="changeSelectedCard('skills')">
                    Habilidades
                </mat-list-item>
                <mat-list-item (click)="changeSelectedCard('lang')">
                    Idiomas
                </mat-list-item>
                <mat-list-item (click)="changeSelectedCard('ref')">
                    Referencias
                </mat-list-item>
                <mat-list-item (click)="changeSelectedCard('links')">
                    Links
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
            <div *ngIf="!isMobile" class="desktop-container">
                <!-- The formComponent has an @Input variable that can store the selectedCard from the sidenav -->
                <app-form [selectedCard]="selectedCard"></app-form>
                <app-preview></app-preview>
            </div>
            <!-- In this case, the selectedCard value is sent during the construction of the formComponent -->
            <ng-container #dynamicView></ng-container>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>