.general-container {
    width: 100vw;
    max-width: 100vw;
    background-color: slateblue;
    padding: 0;
}

.buttons-container {
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 50%;
}