.general-container {
    height: auto;
    /* width: 100vw; */
    background-color: var(--secondary);
}

/* .form-container, .preview-container {
    width: 50%;
} */

.form-container {
    background-color: var(--primary);
}

/* .mobile-slider-container {
    padding: 1%;
} */