<div class="cv-container" #cvContainer>
  <div class="cv-content">
    <!-- NAME FRAME -->
    <div class="frame_container bx">
      <div class="frame bg-color-primary bx">
        <!-- PHOTO -->
        <div class="profile-photo_left-fill" *ngIf="pictureUrl === null"></div>
        <div class="profile-photo_container bx" *ngIf="pictureUrl !== null">
          <div class="profile-photo bx">
            <img [src]="pictureUrl" alt="Profile Picture" class="photo" />
          </div>
        </div>

        <!-- NAME -->
        <div class="name-lastname_container bx">
          <span class="d-inline-blc text-color-white font-size-large bold">
            {{ cvPreview.personalInfo.name }}
            {{ cvPreview.personalInfo.lastname }}
          </span>
          <span
            class="d-inline-blc text-color-white font-size-medium"
            *ngIf="hasValues(cvPreview.personalInfo, ['jobPosition'])"
          >
            {{ cvPreview.personalInfo.jobPosition }}
          </span>
        </div>

        <!-- DETAILS -->
        <div
          class="details_container bx"
          [ngClass]="{ 'details_p-left': pictureUrl === null }"
        >
          <span
            class="d-inline-blc font-size-small text-color-white mb-1 bold"
            *ngIf="
              hasValues(cvPreview.personalInfo, [
                'city',
                'stateProvince',
                'country'
              ])
            "
          >
            {{ templateLang.personalInfo.residence }}:
          </span>
          <span
            class="d-inline-blc font-size-small text-color-white"
            *ngIf="
              hasValues(cvPreview.personalInfo, [
                'city',
                'stateProvince',
                'country'
              ])
            "
          >
            {{ cvPreview.personalInfo.city }}
            {{ cvPreview.personalInfo.stateProvince }}
            {{ cvPreview.personalInfo.country }}
          </span>

          <span
            class="d-inline-blc font-size-small text-color-white mt-2 mb-1 bold"
            *ngIf="hasValues(cvPreview.personalInfo, ['email'])"
          >
            {{ templateLang.personalInfo.email }}:
          </span>
          <span
            class="d-inline-blc font-size-small text-color-white"
            *ngIf="hasValues(cvPreview.personalInfo, ['email'])"
          >
            {{ cvPreview.personalInfo.email }}
          </span>

          <span
            class="d-inline-blc font-size-small text-color-white mt-2 mb-1 bold"
            *ngIf="hasValues(cvPreview.personalInfo, ['phone'])"
          >
            {{ templateLang.personalInfo.phone }}:
          </span>
          <span
            class="d-inline-blc font-size-small text-color-white"
            *ngIf="hasValues(cvPreview.personalInfo, ['phone'])"
          >
            {{ cvPreview.personalInfo.phone }}
          </span>

          <span
            class="d-inline-blc font-size-small text-color-white mt-2 mb-1 bold"
            *ngIf="hasValues(cvPreview.personalInfo, ['age'])"
          >
            {{ templateLang.personalInfo.age }}:
          </span>
          <span
            class="d-inline-blc font-size-small text-color-white"
            *ngIf="hasValues(cvPreview.personalInfo, ['age'])"
          >
            {{ cvPreview.personalInfo.age }}
            {{ templateLang.personalInfo.ageSuffix }}
          </span>
        </div>
      </div>
    </div>

    <!-- LEFT SIDE -->
    <div class="left-container bx" #leftContainer>
      <div class="top-fill bx"></div>

      <!-- WORK EXPERIENCE -->
      <div
        class="left-title bg-color-primary d-inline-blc bx"
        *ngIf="
          hasValues(cvPreview.workExperience[0], ['position', 'organization'])
        "
      >
        <span class="font-size-medium text-color-white">
          {{ templateLang.workExperience.sectionTitle }}
        </span>
      </div>
      <div
        class="work-exp_content border-left-color bx"
        *ngIf="
          hasValues(cvPreview.workExperience[0], ['position', 'organization'])
        "
      >
        <div
          class="work-exp_list bx"
          *ngFor="let exp of cvPreview.workExperience; let i = index"
        >
          <div
            class="row bx"
            *ngIf="
              hasValues(cvPreview.workExperience[i], [
                'position',
                'organization'
              ])
            "
          >
            <div class="circle bg-color-primary bx"></div>
            <div class="row-content bx">
              <div class="pos-loc-workday">
                <span
                  class="d-inline-blc font-size-small text-color-primary mb-1 bold"
                >
                  {{ exp.position }} {{ exp.organization }}
                </span>
                <span
                  class="d-inline-blc font-size-small"
                  *ngIf="
                    hasValues(cvPreview.workExperience[i], [
                      'location',
                      'workingDay'
                    ])
                  "
                >
                  {{ exp.location }} {{ exp.workingDay }}
                </span>
              </div>
              <div
                class="date d-inline-blc"
                *ngIf="
                  hasValues(cvPreview.workExperience[i], [
                    'wExpInitMonth',
                    'wExpInitYear',
                    'wExpEndMonth',
                    'wExpEndYear'
                  ])
                "
              >
                <span
                  class="d-inline-blc font-size-small mb-1 italic"
                  *ngIf="
                    hasValues(cvPreview.workExperience[i], [
                      'wExpInitMonth',
                      'wExpInitYear'
                    ])
                  "
                >
                  {{ exp.wExpInitMonth }} {{ exp.wExpInitYear }}
                </span>
                <span
                  class="d-inline-blc font-size-small italic"
                  *ngIf="
                    hasValues(cvPreview.workExperience[i], [
                      'wExpEndMonth',
                      'wExpEndYear'
                    ]) && exp.inCourse !== 'true'
                  "
                >
                  {{ exp.wExpEndMonth }} {{ exp.wExpEndYear }}
                </span>
                <span
                  *ngIf="exp.inCourse === 'true'"
                  class="d-inline-blc font-size-small italic"
                >
                  {{ templateLang.other.inCourse }}
                </span>
              </div>
            </div>
          </div>
          <div
            class="work-exp_description"
            *ngIf="hasValues(cvPreview.workExperience[i], ['description'])"
          >
            <div
              class="paragraph font-size-small"
              [innerHTML]="exp.description"
            ></div>
          </div>
        </div>
      </div>

      <!-- EDUCATION -->
      <div
        class="left-title bg-color-primary d-inline-blc mt-8 bx"
        *ngIf="hasValues(cvPreview.education[0], ['grade', 'school'])"
      >
        <span class="font-size-medium text-color-white">
          {{ templateLang.education.sectionTitle }}
        </span>
      </div>
      <div
        class="ed_content border-left-color bx"
        *ngIf="hasValues(cvPreview.education[0], ['grade', 'school'])"
      >
        <div
          class="ed_list bx"
          *ngFor="let ed of cvPreview.education; let i = index"
        >
          <div
            class="row bx"
            *ngIf="hasValues(cvPreview.education[i], ['grade', 'school'])"
          >
            <div class="circle bg-color-primary bx"></div>
            <div class="row-content bx">
              <span
                class="d-inline-blc font-size-small text-color-primary bold"
              >
                {{ ed.grade }} {{ ed.school }}
              </span>
              <div
                class="date d-inline-blc"
                *ngIf="
                  hasValues(cvPreview.education[i], [
                    'edInitMonth',
                    'edInitYear',
                    'edEndMonth',
                    'edEndYear'
                  ])
                "
              >
                <span
                  class="d-inline-blc font-size-small mb-1 italic"
                  *ngIf="
                    hasValues(cvPreview.education[i], [
                      'edInitMonth',
                      'edInitYear'
                    ])
                  "
                >
                  {{ ed.edInitMonth }} {{ ed.edInitYear }}
                </span>
                <span
                  class="d-inline-blc font-size-small italic"
                  *ngIf="
                    hasValues(cvPreview.education[i], [
                      'edEndMonth',
                      'edEndYear'
                    ]) && ed.inCourse !== 'true'
                  "
                >
                  {{ ed.edEndMonth }} {{ ed.edEndYear }}
                </span>
                <span
                  class="d-inline-blc font-size-small italic"
                  *ngIf="ed.inCourse === 'true'"
                >
                  - {{ templateLang.other.inCourse }}
                </span>
              </div>
            </div>
          </div>
          <div
            class="ed_description"
            *ngIf="hasValues(cvPreview.education[i], ['description'])"
          >
            <div
              class="paragraph font-size-small"
              [innerHTML]="ed.description"
            ></div>
          </div>
        </div>
      </div>

      <!-- CERTIFICATIONS -->
      <div
        class="left-title bg-color-primary d-inline-blc mt-8 bx"
        *ngIf="hasValues(cvPreview.certifications[0], ['title', 'institution'])"
      >
        <span class="font-size-medium text-color-white">
          {{ templateLang.certifications.sectionTitle }}
        </span>
      </div>
      <div
        class="cert_content border-left-color bx"
        *ngIf="hasValues(cvPreview.certifications[0], ['title', 'institution'])"
      >
        <div
          class="cert_list bx"
          *ngFor="let cert of cvPreview.certifications; let i = index"
        >
          <div class="row bx">
            <div class="dot bg-color-primary d-inline-blc bx"></div>
            <div class="row-content bx">
              <span class="d-inline-blc font-size-small mt-4 bold bx">{{
                cert.title
              }}</span>
              <span
                class="d-inline-blc font-size-small mt-4 bx"
                *ngIf="hasValues(cvPreview.certifications[i], ['institution'])"
              >
                {{ cert.institution }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- REFERENCES -->
      <div
        class="left-title bg-color-primary d-inline-blc mt-8 bx"
        *ngIf="hasValues(cvPreview.references[0], ['name', 'organization'])"
      >
        <span class="font-size-medium text-color-white">
          {{ templateLang.references.sectionTitle }}
        </span>
      </div>
      <div
        class="ref_content bx"
        *ngIf="hasValues(cvPreview.references[0], ['name', 'organization'])"
      >
        <div
          class="ref_list border-left-color"
          *ngFor="let ref of cvPreview.references; let i = index"
        >
          <div
            class="row-content mt-6"
            *ngIf="hasValues(cvPreview.references[i], ['name', 'organization'])"
          >
            <span class="d-inline-blc font-size-small bold bx">
              {{ ref.name }}
            </span>
            <span
              class="d-inline-blc font-size-small bx"
              *ngIf="hasValues(cvPreview.references[i], ['email'])"
            >
              {{ ref.email }}
            </span>
          </div>
          <div
            class="row-content mb-4"
            *ngIf="
              hasValues(cvPreview.references[i], ['organization', 'phone'])
            "
          >
            <span class="d-inline-blc font-size-small mt-4 bold bx">
              {{ ref.organization }}
            </span>
            <span
              class="d-inline-blc font-size-small mt-4 bx"
              *ngIf="hasValues(cvPreview.references[i], ['name', 'phone'])"
            >
              {{ ref.phone }}
            </span>
          </div>
        </div>
      </div>
      <div class="bottom-fill"></div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="right-container bg-color-secondary bx" #rightContainer>
      <div class="top-fill bx"></div>

      <!-- DESCRIPTION -->
      <div
        class="description_container text-color-primary bx"
        *ngIf="hasValues(cvPreview.description, ['description'])"
      >
        <div
          class="paragraph d-inline-blc font-size-small bx"
          [innerHTML]="cvPreview.description.description"
        ></div>
      </div>

      <!-- SKILLS -->
      <div
        class="right-title right-title-underline d-inline-blc mt-10 bx"
        *ngIf="hasValues(cvPreview.skills[0], ['skill'])"
      >
        <span class="font-size-medium text-color-primary">
          {{ templateLang.skills.sectionTitle }}
        </span>
      </div>
      <div
        class="skills_container text-color-primary bx"
        *ngIf="hasValues(cvPreview.skills[0], ['skill'])"
      >
        <div
          class="skill d-inline-blc mt-1 mb-1 bx"
          *ngFor="let skill of cvPreview.skills; let i = index"
        >
          <div class="row bx">
            <div class="dot-right dot-right-color bx"></div>
            <div class="row-content bx">
              <span class="font-size-small bold">{{ skill.skill }}</span>
              <span
                class="font-size-small"
                *ngIf="hasValues(cvPreview.skills[i], ['level'])"
              >
                {{ skill.level }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- LANGUAGES -->
      <div
        class="right-title right-title-underline d-inline-blc mt-10 bx"
        *ngIf="hasValues(cvPreview.languages[0], ['language'])"
      >
        <span class="font-size-medium text-color-primary">
          {{ templateLang.languages.sectionTitle }}
        </span>
      </div>
      <div
        class="lang_container text-color-primary bx"
        *ngIf="hasValues(cvPreview.languages[0], ['language'])"
      >
        <div
          class="lang d-inline-blc mt-1 mb-1 bx"
          *ngFor="let lang of cvPreview.languages; let i = index"
        >
          <div
            class="row bx"
            *ngIf="hasValues(cvPreview.languages[i], ['language'])"
          >
            <div class="dot-right dot-right-color bx"></div>
            <div class="row-content bx">
              <span class="font-size-small bold">
                {{ lang.language }}
              </span>
              <span
                class="font-size-small"
                *ngIf="hasValues(cvPreview.languages[i], ['level'])"
              >
                {{ lang.level }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- LINKS -->
      <div
        class="right-title right-title-underline d-inline-blc mt-10 bx"
        *ngIf="hasValues(cvPreview.links[0], ['link'])"
      >
        <span class="font-size-medium text-color-primary">
          {{ templateLang.links.sectionTitle }}
        </span>
      </div>
      <div
        class="links_container text-color-primary bx"
        *ngIf="hasValues(cvPreview.links[0], ['link'])"
      >
        <div
          class="link d-inline-blc mt-2 mb-4 bx"
          *ngFor="let link of cvPreview.links; let i = index"
        >
          <div class="row bx" *ngIf="hasValues(cvPreview.links[i], ['link'])">
            <div class="row-content bx">
              <span class="font-size-small">{{ link.link }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-fill"></div>
    </div>
  </div>
  <hr class="overflow-line" *ngIf="overflowDetected" />
</div>