/* GENERAL CLASSES */

:root {
    --white: #F8F8F8;
    --white-overlay: rgba(248, 248, 248, 0.2);
    --black: #2f2f2f;
    --black-overlay: rgba(47, 47, 47, 0.2);
    --medium-grey: #a0a0a0;

    --cornflower-blue: #5C95FF;
    --brandeis-blue: #1F6DFF;
    --uranian-blue: #B9E6FF;
    --light-red: #F87575;
    --bittersweet: #F65151;
    --melon: #FFA9A3;
    --cinereous: #7E6C6C;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}