/* GENERAL CLASSES */

:root {
    --bricolage: 'Bricolage Grotesque', sans-serif;

    --white: #FFF;
    --white-variant: #F8F8F8;
    --white-overlay: rgba(248, 248, 248, 0.2);
    --black: #2F2F2F;
    --black-overlay: rgba(47, 47, 47, 0.2);
    --grey-alpha: rgba(0, 0, 0, 0.6);
    --medium-grey: #A0A0A0;
    
    --cobalt-blue: #0047AB;
    --jasmine-yellow: #F7CB78;
    --poppy-red: #DC343B;

    --light-cobalt-blue: #B1DFFC;
    --light-jasmine-yellow: #FFF7EB;
    --light-poppy-red: #FFADAD;

    scroll-padding: 0;
    scroll-margin: 0;
    scroll-behavior: smooth;
}
html, body {
    width: 100%;
    height: 100%;
}   

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: var(--mat-font-family);
    box-sizing: border-box;
}