/* GENERAL CLASSES */

:root {
    --white: #F8F8F8;
    --white-overlay: rgba(248, 248, 248, 0.2);
    --black: #2f2f2f;
    --black-overlay: rgba(47, 47, 47, 0.2);
    --grey-alpha: rgba(0, 0, 0, 0.6);
    --medium-grey: #a0a0a0;
    
    --phthalo-blue: #020887;
    --marian-blue: #334195;
    --glaucous: #647AA3;
    --ash-gray: #95B2B0;
    --tea-green: #C6EBBE;

    scroll-padding: 0;
    scroll-margin: 0;
    scroll-behavior: smooth;
}
html, body {
    width: 100%;
    height: 100%;
}   

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: var(--mat-font-family);
    box-sizing: border-box;
}