.form {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  background-color:  rgb(234, 110, 110);
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

mat-card {
  margin: 1rem;
}

h3 {
  margin: 1rem;
}