<!-- General Container -->
<form class="form" [formGroup]="cvFormGroup">
    <button
        type="button"
        mat-stroked-button
        aria-label="Reset"
        (click)="resetForm()"
        style="margin: 1%;">
            Limpiar Formulario
        </button>
    <!-- General Info -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>Información General</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- The groupName attribute is used to link the general FormGroup and the internal controls of the component -->
            <text-line
                [groupName]="getFormGroup('personalInfo')"
                controlName="name"
                label="Nombre">
            </text-line>
            <text-line
                [groupName]="getFormGroup('personalInfo')"
                controlName="lastname"
                label="Apellido"
            ></text-line>
            <text-line
                [groupName]="getFormGroup('personalInfo')"
                controlName="jobPosition"
                label="Puesto">
            </text-line>          
            <paragraph
                [groupName]="getFormGroup('personalInfo')"
                controlName="professionalSummary">
            </paragraph>
        </mat-card-content>
    </mat-card>

    <!-- Academic Background -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>Formación Académica</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div formArrayName="education">
                <div *ngFor="let control of education.controls, let i=index" [formGroupName]="i">
                    <text-line
                        [groupName]="getFormGroup('education', i)"
                        controlName="grade"
                        label="Título">
                    </text-line>

                    <text-line
                        [groupName]="getFormGroup('education', i)"
                        controlName="school"
                        label="Escuela">
                    </text-line>

                    <init-end-date
                        [groupName]="getFormGroup('education', i)"
                        initMControl="edInitMonth"
                        initYControl="edInitYear"
                        endMControl="edEndMonth"
                        endYControl="edEndYear">
                    </init-end-date>

                    <paragraph
                        [groupName]="getFormGroup('education', i)"
                        controlName="description">
                    </paragraph>

                    <button
                    type="button"
                    matSuffix
                    mat-icon-button
                    aria-label="Remove"
                    (click)="removeEducation(i)"
                    style="margin: 1%;">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <button
                type="button"
                mat-stroked-button
                (click)="addEducation()">
                    Añadir
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <!-- Work Experience -->
    <!-- <mat-card>
        <mat-card-header>
            <mat-card-title>Experiencia Laboral</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div formArrayName="workExperience">
                <div *ngFor="let experience of workExperience.controls, let i=index" [formGroupName]="i">
                    <text-line
                        [groupName]="getFormGroup(i, 'workExperience')"
                        controlName="position"
                        label="Posición">
                    </text-line>

                    <text-line
                        [groupName]="getFormGroup(i, 'workExperience')"
                        controlName="organization"
                        label="Empresa">
                    </text-line>

                    <init-end-date
                        [groupName]="getFormGroup(i, 'workExperience')"
                        initMControl="wExpInitMonth"
                        initYControl="wExpInitYear"
                        endMControl="wExpEndMonth"
                        endYControl="wExpEndYear">
                    </init-end-date>

                    <paragraph
                        [groupName]="getFormGroup(i, 'workExperience')"
                        controlName="description">
                    </paragraph>

                    <button
                    type="button"
                    matSuffix
                    mat-icon-button
                    aria-label="Remove"
                    (click)="removeWorkExp(i)"
                    style="margin: 1%;">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <button
                type="button"
                mat-stroked-button
                (click)="addWorkExp()">
                    Añadir
                </button>
            </div>
        </mat-card-content>
    </mat-card> -->

    <!-- Skills -->
    <!-- <mat-card>
        <mat-card-header>
            <mat-card-title>Habilidades</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div formArrayName="skills">

                <div *ngFor="let skill of skills.controls, let i=index" style="display: flex;">
                    <mat-form-field style="display: block; width: 50%;">
                        <mat-label>Habilidad</mat-label>
                        <input
                        matInput
                        [formControlName]="i">
                    </mat-form-field>

                    <button
                    type="button"
                    matSuffix
                    mat-icon-button
                    aria-label="Remove"
                    (click)="removeSkill(i)"
                    style="margin: 1%;">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <button
                type="button"
                mat-stroked-button
                (click)="addSkill()">Añadir</button>
            </div>
        </mat-card-content>
    </mat-card> -->
</form> 