.general-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 3rem 80% auto;
}

header {
    color: var(--font-white);
}

main {
    height: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 1rem;
}