<div class="cv-container" #cvContent>
  <div class="general-info-container">
    <span>{{cvPreview.name}}</span>
    <span>{{cvPreview.lastname}}</span>
    <span>{{cvPreview.jobPosition}}</span>
    <span>{{cvPreview.aboutMe}}</span>
  </div>
  <div class="academic-bg-container" *ngFor="let school of cvPreview.academicBackground">
    <span>{{school.grade}}</span>
    <span>{{school.school}}</span>
    <span>{{school.academicBackgroundInitDate | date}}</span>
    <span>{{school.academicBackgroundEndDate | date}}</span>
    <span>{{school.description}}</span>
  </div>
  <div class="work-exp-container" *ngFor="let exp of cvPreview.workExperience">
    <span>{{exp.position}}</span>
    <span>{{exp.company}}</span>
    <span>{{exp.workExperienceInitDate | date}}</span>
    <span>{{exp.workExperienceEndDate | date}}</span>
    <span>{{exp.description}}</span>
  </div>
  <div class="skills-container" *ngFor="let skill of cvPreview.skills">
    <span>{{skill}}</span>
  </div>
</div>